nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a{
    display: block;
    padding: 2em;
    background-color: gray;
    text-decoration: none;
    color: aliceblue;
}

nav a:hover{
    background-color: black;
}

nav ul li ul{
    display: none;
}

nav ul li a:hover + ul, ul li ul:hover{
    display: block;
}