table:first-child tr:first-child{
    color:teal;
}

table:first-child tr:nth-child(2){
    color:red;
}

table:first-child tr:nth-child(3){
    color:blue;
}

table:first-child tr:nth-child(4){
    color:orange;
}

table:first-child tr:nth-child(5){
    color:purple;
}

table:first-child tr:nth-child(6){
    color:olive;
}

table:first-child tr:nth-child(7){
    color:fuchsia;
}

table:first-child tr:nth-child(8){
    color:green;
}


table:first-child td:first-child{
    background-color: white;
}

table:first-child td:nth-child(2){
    background-color: red;
}

table:first-child td:nth-child(3){
    background-color: green;
}

table:first-child td:nth-child(4){
    background-color: blue;
}


table:last-child tr:nth-child(even){
    background-color: cadetblue;
    color: white;
    font-weight: bold;
}
