body{
    background-color: black;
    color: white;
}

h1{
    text-align: center;
}

p{
    margin: 1%;
    font-size: 1.5em;
}

p:nth-child(even){
    background-color: green;
}

p:nth-child(odd){
    background-color: red;
}

p:hover{
    background-color: white;
    color: blue;
    text-decoration: underline;
}