*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgba(255,96,0,255);
    padding-top: 1%;
    box-shadow: 0px 0px 20px 0px black;
}

header section{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
}

header section img{
    width: 100px;
    margin: 1% 1%;
}

header section h1{
    font-size: 4em;
    margin: 3% 1%;
}

header nav ul{
    display: flex;
    list-style: none;
    color: white;
}

header nav ul li{
    padding: 2%;
}

header nav ul li:hover{
    cursor: pointer;
    border-bottom: 4px solid white;
}

main{
    display: flex;
    flex-direction: column;
}

.cabecera{
    margin-top: 1%;
}

main>section>img{
    width: 100%;
}

.articulos{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
}

main section section{
    background-color: rgb(215, 214, 214);
}


main section section section article{
    background-color: white;
    margin: 3% 0% 3% 3%;
    box-shadow: 0px 0px 10px 0px black;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 15%;
}

.producto{
    width: 50%;
    margin: 10px;
}

.titulo{
    margin: 5%;
}

.precio{
    margin: 5%;
}

.carrito{
    width: 20%;
    margin: 5%;
}

.redes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 2%;
}

.redes img{
    width: 5%;
    margin: 0% 0.5%;
}

footer{
    background-color: rgba(233,226,220,255);
    border-top: 3px solid rgba(139, 96, 17, 0.4);
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    color: rgba(137,125,116,255);
}

footer article{
    margin: 5%;
}

footer article h4{
    margin: 5% 0%;
    letter-spacing: 2px;
    white-space: nowrap;
}
